@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
}

p {
  font-weight: 300;
}

main {
  max-width: 990px;
  margin: 1rem auto;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

section {
  border: 2px solid #999;
  padding: 1rem;
  margin-bottom: 1rem;
}

.primary-color {
  background: #2d5dcc;
  color: white;
}

.secondary-color {
  background: #d97d9d;
}

.button-color {
  background: #4fe0b0;
}

.bg-color {
  background: #efd9ca;
}

.color-container,
.font-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color-box {
  padding: 1rem;
  text-align: center;
  width: 24%;
}

.color-box p {
  background: white;
  border: 1px dashed black;
  color: black;
  padding: 5px;
}

.font-box {
  margin-bottom: 2rem;
  width: 45%;
}

.font-box h4 {
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

.font-box p {
  margin-bottom: 0.5rem;
}

.font-box .bold {
  font-weight: bold;
}

.font-box .italic {
  font-style: italic;
}

.source-code {
  font-family: "Source Code Pro", monospace;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.text-box {
  border-bottom: 1px dashed;
  margin-bottom: 1rem;
}

.text-box:last-child {
  border: none;
}

.text-box ul {
  padding-left: 2rem;
  font-size: 16px;
  margin: 1rem auto;
}

.text-box h1 {
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border-left: 5px solid #2d5dcc;
  background: #efefef;
  padding: 1rem;
}

.text-box h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-left: 5px solid #2d5dcc;
  background: #efefef;
  padding: 1rem;
}

.text-box p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-left: 5px solid #2d5dcc;
  background: #efefef;
  padding: 1rem;
}
